<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net461" />
  <package id="Fody" version="6.0.5" targetFramework="net461" developmentDependency="true" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
</packages>